* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

button {
  border: none;
  border-radius: 999px;
  padding: 0.2rem 0.4rem;
  font-weight: bold;
  cursor: pointer;
  margin-left: 0.4rem;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

input {
  border: none;
  border-radius: 999px;
  padding: 0.2rem 0.4rem;
  font-weight: bold;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #0074c1;
}


#logo {
  margin: 0;
  padding-left: 30px;
  width: 100px;
}

#logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 18px;
}

#logo-container h1 {
  font-weight: 700;
  padding: 10px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

header ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin-right: 50px;
}

header li {
  padding: 0 5rem;
  height: 30px;
  width: 100%;
  text-align: center;
  padding: 0.4rem;
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

header li + li {
  border-left: 2px solid white;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 15px;
  min-height: 70vh;
}

main a {
  color: black;
}

main > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
}

.container {
  width: 320px;
  overflow: hidden;
  border-radius: 4px;
  background-color: #00000011;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0px 2px 9px 2px #0000000f;
}

.container img {
  width: 100%;
  object-fit: cover;
}

.container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 15px;
  gap: 4px;
}

.container .label {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.container:hover {
  transform: translateY(-10px);
  box-shadow: 4px 2px 9px 2px #0000000f;
}

.promotions {
  padding: 10px;
}

.promotions > div {
  margin-top: 15px;
  display: flex;
  gap: 15px;
  justify-content: center;
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000011;
  height: 500px;
  webkit-clip-path: ellipse(80% 70% at 50% 100%);
  clip-path: ellipse(70% 70% at 50% 100%);
}